*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 18px;
	font-family: 'Helvetica Neue', sans-serif;
}

body{
	background-color: #e2e0ff;
}

a{
	text-decoration: none;
	color: white;
}

.nav{
	display: flex;
	background: #5b33a1;
}

.nav a{
	text-align: center;
	padding: 10px 0;
}

.buttonMob{
	text-align: right;
	background-color: #333;
	padding: 3% 3% 2% 3%;
}

.logo{
	text-align: center;
}

.address p{
	color: #5b33a1;
	font-size: 14px;
	line-height: 40px;
}

.address img{
	float: left;
}

.address button{
	width: 100%;
	background-color: #5b33a1;
	border: none;
	padding: 2%;
	border-radius: 50px;
	color: #fff;
}

/*Media Queries*/

@media screen and (max-width: 480px){
	.header{display: flex; flex-direction: column;}
	.nav{flex-direction: column; display: none;}
	.nav a{width: 100%;}
}

@media screen and (min-width: 481px) and (max-width: 768px){
	.nav{flex-direction: column; display: none;}
	.nav a{width: 100%;}

	.image-gallery{
		float: left;
		width: 100%;
	}
}

@media screen and (min-width: 769px) and (max-width: 1199px){
	.nav a{width: 25%;}
	.buttonMob{display: none;}

	.image-gallery{
		float: left;
		width: 100%;
	}
}

@media screen and (min-width: 1200px){
	.nav a{width: 25%; font-size: 14px;}
	.nav a:hover{
		background-color: #472680;
	}
	.nav img{
		display: block;
		margin: auto;
		width: 24px;
	}
	.buttonMob{display: none;}

	.image-gallery{
		float: left;
		width: 60%;
		margin: 2% 2.5%;
	}

	.information{
		float: left;
		margin: 0% 0%;
		width: 32.5%;
		background-color: #fff;
		padding: 2.5%;
	}

	.information ul{
		list-style-type: none;
	}

	.information li{
		height: 35px;
	}

	.map{
		width: 95%;
		height: 300px;
		margin: 2% 2.5% 4% 2.5%;
		float: left;
	}

	.map iframe{
		width: 100%;
		height: 100%;
		border: solid 1px #999;
	}

	.address{
		background-color: #fff;
		float: left;
		width: 32.5%;
		margin-bottom: 1%;
		padding: 0% 1.5% 1.5% 1.5%;
	}

	.title{
		background-color: #fff;
		float: left;
		width: 32.5%;
		padding: 1.5%;
		margin-top: 2%;
	}

	.title h1{
		color: #555;
		font-size: 30px;
	}

	.title h2{
		font-size: 30px;
		float: left;
		margin-top: 10px;
		color: #333;
	}

	.title ul{
		list-style-type: none;
		margin-top: 10px;
	}

	.title ul li{
		float: left;
		width: 50%;
		font-size: 14px;
		color: #777;
		font-style: italic;
	}

	.price{
		float: right;
		width: 32.5%;
		background-color: #fff;
		padding: 2.5%;
		margin: 1% 2.5%;
	}

	.price ul{
		list-style-type: none;
	}

	.price li{
		padding: 8px 3px 0px 3px;
		border-bottom: dashed 1px #999;
	}

	.price li strong{
		float: right;
	}

	.price button{
		margin-top: 10px;
		width: 100%;
		background-color: #5063f0;
		padding: 2%;
		border: none;
		border-radius: 50px;
		color: #fff;
	}

	.features{
		background-color: #fff;
		width: 60%;
		float: left;
		margin-top: -7%;
		margin-left: 2.5%;
		padding: 2.5%
	}

	.item-feature{
		float: left;
		width: 20%;
		text-align: center;
	}

	.footer{
		display: flex;
		width: 100%;
		background-color: #222;
		padding: 2.5%;
		color: #fff;
	}

	.footer div{
		width: 33.3%;
	}
}